#report{
	width:65%;
	margin:auto;
	border:#333 1px solid;	
	overflow:hidden;
	display:none;
}

//#patientSearch{
	//display:none;
//}

#searchButton{
	color: white;
    border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221);
}
//a.button3:hover{
// background-color:#4095c6;
//}
//@media all and (max-width:30em){
// a.button3{
//  display:block;
//  margin:0.2em auto;
// }
//}

#authError{
	border-radius: 25px;
	padding: 15px;
	margin:auto;
	text-align: center;
	vertical-align: middle;	
	background-color: #0747a6;
	color:#FFFFFF;	
	font-size:15px;
	width: 175px;
	height: 50px;
	font-weight:bold;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	display:none;
}

header#patientName{
	background-color: #0747a6;
	color:#FFFFFF;
	padding:15px;	
	text-align:center;
	font-size:30px;
	font-weight:bold;
	border-bottom:#333 1px solid;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

section#patientDemographics{
	padding:15px;
	display: grid;
	grid-template-columns:repeat(6, auto);
}

section#patientDemographics > div{
	padding:2px;
}

section#resourceColumns{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
}

.fieldLabel{
	font-weight: bold;
	justify-self:end;
}

.sectionContainer{
	border-right:#333 1px solid;
	padding-bottom:20px;
}

.sectionHeader{
	//font-weight: bold;
	text-align:left;
	background-color: #0747a6;
	color:#FFFFFF;
	padding: 5px;
	font-size:18px;
	border-top:#333 1px solid;
	border-bottom:#333 1px solid;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.sectionBody{
	line-height: 1.5;
	padding:10px;
}

#allergyListId{
	display:grid;
	grid-template-columns:repeat(6, auto);
}

#inputError{
	display: none;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

table{
	width:100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

th{
	background-color: #f2f2f2;
	border-bottom: #333 1px solid;
}

td, th{
	padding:3px;
}

body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-size:12px;
}

th{
	text-align:left;
}

.subSection{
	padding-left:30px;
}

.nursingHomeSectionBody{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	padding:10px;
}

.nhHeader{
	font-weight: bold;
	text-align:left;
	padding-bottom: 3px;
	line-height:1.5;
}

footer#reportFooter{
	height: 20px;
	width: 100%;
	background-color: #0747a6;
}

